.config.old
COPYING
CREDITS
Documentation/
Kbuild
Kconfig
LICENSES/
MAINTAINERS
Makefile
README
arch/
block/
certs/
crypto/
dropped.txt
fs/
init/
ipc/
kernel/
lib/
linux-source-5.4.0.tar.bz2
mm/
net/
samples/
scripts/
security/
snapcraft.yaml
sound/
tools/
ubuntu/
update-version-dkms
usr/
virt/
